.version.about /* version checker */
{
	color: #0000FE;
	background-color: #C821F9;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 1352px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3060,#u3060-bw
{
	z-index: 2;
	height: 1352px;
}

#u6091
{
	z-index: 3;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	width: 80%;
	left: 10%;
}

#u2355
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	width: 25.42%;
	left: -8.65%;
}

#u2356
{
	z-index: 5;
	margin-bottom: -0.4098360655737705%;
	width: 100%;
}

#pu4288
{
	margin-right: -10000px;
	margin-top: 19px;
	width: 13.13%;
	margin-left: 18.96%;
}

#u4288
{
	z-index: 62;
	position: relative;
	width: 23.81%;
	margin-left: 76.2%;
}

#u4286
{
	z-index: 63;
	width: 100%;
}

#u4989
{
	z-index: 68;
	margin-top: 17px;
	position: relative;
	width: 79.37%;
}

#buttonu3396
{
	z-index: 69;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu3396:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u3354
{
	z-index: 74;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu3396.ButtonSelected,#buttonu3396:hover #u3354
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u3355
{
	z-index: 75;
	width: 100%;
}

#u3415
{
	z-index: 76;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu3396.ButtonSelected #u3354,#buttonu3396:hover #u3415
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu3396:active #u3415
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u3416
{
	z-index: 77;
	width: 100%;
}

#u3891
{
	z-index: 78;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu3396.ButtonSelected #u3415,#buttonu3396:hover #u3891
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu3396:active #u3891
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u3889
{
	z-index: 79;
	width: 100%;
}

#u3397-4
{
	z-index: 70;
	min-height: 15px;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#buttonu3396:hover #u3397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 100%;
	margin: 3px 0px 0px 0%;
}

#u3105
{
	z-index: 80;
	height: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#ppu4238
{
	margin-right: -10000px;
	margin-top: 19px;
	width: 12.5%;
	margin-left: 32.61%;
}

#pu4238
{
	width: 76.67%;
	margin-left: 22.5%;
}

#u4238
{
	z-index: 54;
	position: relative;
	margin-right: -10000px;
	width: 32.61%;
}

#u4236
{
	z-index: 55;
	width: 100%;
}

#u4248
{
	z-index: 56;
	position: relative;
	margin-right: -10000px;
	width: 32.61%;
	left: 67.4%;
}

#u4246
{
	z-index: 57;
	width: 100%;
}

#u5799
{
	z-index: 81;
	margin-top: 17px;
	position: relative;
	width: 83.34%;
}

#buttonu5801
{
	z-index: 82;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu3396.ButtonSelected #u3891,#buttonu5801:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5807
{
	z-index: 87;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5801.ButtonSelected,#buttonu5801:hover #u5807
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5808
{
	z-index: 88;
	width: 100%;
}

#u5803
{
	z-index: 89;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5801.ButtonSelected #u5807,#buttonu5801:hover #u5803
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu5801:active #u5803
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5804
{
	z-index: 90;
	width: 100%;
}

#u5805
{
	z-index: 91;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5801.ButtonSelected #u5803,#buttonu5801:hover #u5805
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu5801:active #u5805
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5806
{
	z-index: 92;
	width: 100%;
}

#u5802-4
{
	z-index: 83;
	min-height: 15px;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#buttonu3396.ButtonSelected #u3397-4,#buttonu5801:hover #u5802-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 100%;
	margin: 3px 0px 0px 0%;
}

#u5800
{
	z-index: 93;
	height: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#ppu4268
{
	margin-right: -10000px;
	margin-top: 19px;
	width: 11.88%;
	margin-left: 46.15%;
}

#pu4268
{
	width: 80.71%;
	margin-left: 18.43%;
}

#u4268
{
	z-index: 58;
	position: relative;
	margin-right: -10000px;
	width: 32.61%;
}

#u4266
{
	z-index: 59;
	width: 100%;
}

#u4308
{
	z-index: 66;
	position: relative;
	margin-right: -10000px;
	width: 32.61%;
	left: 67.4%;
}

#u4306
{
	z-index: 67;
	width: 100%;
}

#u5838
{
	z-index: 94;
	margin-top: 17px;
	position: relative;
	width: 87.72%;
}

#buttonu5840
{
	z-index: 95;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5801.ButtonSelected #u5805,#buttonu5840:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5842
{
	z-index: 100;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5840.ButtonSelected,#buttonu5840:hover #u5842
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5843
{
	z-index: 101;
	width: 100%;
}

#u5844
{
	z-index: 102;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5840.ButtonSelected #u5842,#buttonu5840:hover #u5844
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu5840:active #u5844
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5845
{
	z-index: 103;
	width: 100%;
}

#u5846
{
	z-index: 104;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5840.ButtonSelected #u5844,#buttonu5840:hover #u5846
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu5840:active #u5846
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5847
{
	z-index: 105;
	width: 100%;
}

#u5841-4
{
	z-index: 96;
	min-height: 15px;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#buttonu5801.ButtonSelected #u5802-4,#buttonu5840:hover #u5841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 100%;
	margin: 3px 0px 0px 0%;
}

#u5839
{
	z-index: 106;
	height: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#ppu4298
{
	margin-right: -10000px;
	margin-top: 19px;
	width: 11.25%;
	margin-left: 59.8%;
}

#pu4298
{
	width: 85.19%;
	margin-left: 13.89%;
}

#u4298
{
	z-index: 64;
	position: relative;
	margin-right: -10000px;
	width: 32.61%;
}

#u4296
{
	z-index: 65;
	width: 100%;
}

#u4278
{
	z-index: 60;
	position: relative;
	margin-right: -10000px;
	width: 32.61%;
	left: 67.4%;
}

#u4276
{
	z-index: 61;
	width: 100%;
}

#u5877
{
	z-index: 107;
	margin-top: 17px;
	position: relative;
	width: 92.6%;
}

#buttonu5879
{
	z-index: 108;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5840.ButtonSelected #u5846,#buttonu5879:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5881
{
	z-index: 113;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5879.ButtonSelected,#buttonu5879:hover #u5881
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5882
{
	z-index: 114;
	width: 100%;
}

#u5883
{
	z-index: 115;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5879.ButtonSelected #u5881,#buttonu5879:hover #u5883
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu5879:active #u5883
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5884
{
	z-index: 116;
	width: 100%;
}

#u5885
{
	z-index: 117;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5879.ButtonSelected #u5883,#buttonu5879:hover #u5885
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu5879:active #u5885
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5886
{
	z-index: 118;
	width: 100%;
}

#u5880-4
{
	z-index: 109;
	min-height: 15px;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#buttonu5840.ButtonSelected #u5841-4,#buttonu5879:hover #u5880-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 100%;
	margin: 3px 0px 0px 0%;
}

#u5878
{
	z-index: 119;
	height: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u5916
{
	z-index: 120;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	width: 10.42%;
	left: 73.44%;
}

#buttonu5918
{
	z-index: 121;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5879.ButtonSelected #u5885,#buttonu5918:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5920
{
	z-index: 126;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5918.ButtonSelected,#buttonu5918:hover #u5920
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5921
{
	z-index: 127;
	width: 100%;
}

#u5922
{
	z-index: 128;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5918.ButtonSelected #u5920,#buttonu5918:hover #u5922
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu5918:active #u5922
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5923
{
	z-index: 129;
	width: 100%;
}

#u5924
{
	z-index: 130;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5918.ButtonSelected #u5922,#buttonu5918:hover #u5924
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu5918:active #u5924
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5925
{
	z-index: 131;
	width: 100%;
}

#u5919-4
{
	z-index: 122;
	min-height: 15px;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#buttonu5879.ButtonSelected #u5880-4,#buttonu5918:hover #u5919-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 100%;
	margin: 3px 0px 0px 0%;
}

#u5917
{
	z-index: 132;
	height: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#pu4160
{
	margin-right: -10000px;
	margin-top: 19px;
	width: 13.44%;
	margin-left: 84.59%;
}

#u4160
{
	z-index: 53;
	min-height: 37px;
	position: relative;
	width: 100%;
}

#u5955
{
	z-index: 133;
	margin-top: 10px;
	position: relative;
	width: 77.52%;
	margin-left: 17.83%;
}

#buttonu5957
{
	z-index: 134;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5918.ButtonSelected #u5924,#buttonu5957:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#pu3354,#pu5807,#pu5842,#pu5881,#pu5920,#pu5959
{
	width: 14.01%;
}

#u5959
{
	z-index: 139;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5957.ButtonSelected,#buttonu5957:hover #u5959
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5960
{
	z-index: 140;
	width: 100%;
}

#u5961
{
	z-index: 141;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5957.ButtonSelected #u5959,#buttonu5957:hover #u5961
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu5957:active #u5961
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5962
{
	z-index: 142;
	width: 100%;
}

#u5963
{
	z-index: 143;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu5957.ButtonSelected #u5961,#buttonu5957:hover #u5963
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu5957:active #u5963
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#buttonu5957.ButtonSelected #u5963
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5964
{
	z-index: 144;
	width: 100%;
}

#u5958-4
{
	z-index: 135;
	min-height: 15px;
	margin-top: 3px;
	position: relative;
	width: 100%;
}

#buttonu5918.ButtonSelected #u5919-4,#buttonu5957:hover #u5958-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 100%;
	margin: 3px 0px 0px 0%;
}

#buttonu5957.ButtonSelected #u5958-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 100%;
	margin: 3px 0px 0px 0%;
}

#u5956
{
	z-index: 145;
	height: 3px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#pu3060,#pu6043
{
	margin-right: -10000px;
	width: 100%;
}

#u6043,#u6043-bw
{
	z-index: 6;
	height: 302px;
}

#u6046-4
{
	z-index: 7;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	width: 23.42%;
	left: 13.17%;
}

#u6049-4
{
	z-index: 11;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	width: 23.42%;
	left: 51.09%;
}

#u6052-4
{
	z-index: 15;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	width: 23.42%;
	left: 13.17%;
}

#u6100-8
{
	z-index: 19;
	min-height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	width: 23.42%;
	left: 13.17%;
}

#u6103-6
{
	z-index: 27;
	min-height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	width: 11.75%;
	left: 63.42%;
}

#u6106-6
{
	z-index: 33;
	min-height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	width: 11.75%;
	left: 75.17%;
}

#u6109-8
{
	z-index: 39;
	min-height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	width: 23.42%;
	left: 38.34%;
}

#u6115-4
{
	z-index: 47;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	width: 7.25%;
	left: 46.42%;
}

#u6150
{
	z-index: 51;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	width: 9.67%;
	left: 45.17%;
}

#u6148
{
	z-index: 52;
	width: 100%;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 1px;
}

